
<div class="post">
  <% if profilable %>
  <div class="post__header">
    <%= link_to profile_path(post.user.username) do %>
      <strong><%= post.user.username %></strong>
    <% end %>
  </div>
  <% end %>

  <div class="post__body">
    <% if linkable %>
      <%= link_to post do%>
        <%= image_tag post.photo.url %>
      <% end %>
    <% else %>
       <%= image_tag post.photo.url %>
    <% end %>
    
    <div class="post__description">
      <% if profilable %>
       <%= link_to profile_path(post.user.username) do %>
           <strong><%= post.user.username %></strong>
       <% end %>
     <% end %>
     <%= post.description %>
    </div>
  </div>

  <div class="post__footer">
    <%= time_ago_in_words post.created_at %>
  </div>
</div>