<h1>Posts</h1>

<% flash.each do |type, message| %>
  <p><strong><em><%= message %></em></strong></p>
<% end %>

<p><%= link_to "Create", posts_new_path%></p>

<div>
<% @posts.each do |post|%>
<div>
  <%= time_ago_in_words post.created_at %>
<p>
  <%= post.user.username %>
  <%= image_tag post.photo.url() %><br>
  <%= post.description %>
</p>
<hr>
</div>
<% end %>
